[Unit]
Description=PortMaster runtime %I
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/marina-portmaster/portmaster-runtime-mount %i
ExecStop=/usr/libexec/marina-portmaster/portmaster-runtime-unmount %i

[Install]
WantedBy=multi-user.target
